<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414108113530-3nbt6sskrtd24kaalp5t1g54nvmpdnkg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414108113530-3nbt6sskrtd24kaalp5t1g54nvmpdnkg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>414108113530-pc4pq3l45m9s56sqha4jkppq209e85cs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGP5fiOgehQkozTgEN5AX1NBqrhh_-bDM</string>
	<key>GCM_SENDER_ID</key>
	<string>414108113530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.receiptBook</string>
	<key>PROJECT_ID</key>
	<string>receipt-book-95606</string>
	<key>STORAGE_BUCKET</key>
	<string>receipt-book-95606.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414108113530:ios:082deafcb5676fc3b679c3</string>
</dict>
</plist>